.contact-container
    display: flex
    justify-content: space-evenly
    align-items: center
    margin-bottom: 25px
    
.social-media
    text-align: center
    a
        text-decoration: none
        color: black
    i
        font-size: 24px
        padding-left: 10px
        padding-right: 10px
    i:hover
        color: rgb(0, 128, 200)
        
.linkedin
    color: rgb(0, 128, 172)
    
.email
    text-align: center

.email-link
    color: black
    text-decoration: none

.email-link:hover
    text-decoration: underline